@model UsuarioViewModel

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuários</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 20px;
        }

        .container {
            max-width: 1200px;
            margin: auto;
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        button {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        h2 {
            text-align: center;
            color: #333;
        }

        input {
            width: 75%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        select {
            width: 50%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        label {
            width: 25%;
            padding: 8px;
            margin-bottom: 10px;
            border: none;
            border-radius: 5px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: black;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body style="text-align:center">
    <form action="/Usuario/Salvar" method="post" enctype="multipart/form-data" style="wtext-align:center">
        <div class="container" style="width:80%; text-align:center">
            <h2>Cadastrar Usuário</h2>
            @if (!string.IsNullOrEmpty(Model.FotoBase64))
            {
                <label>Preview do Logo:</label>
                <br />
                <img src="data:image/png;base64,@Model.FotoBase64"
                     alt="Logo do Time"
                     id="preview"
                     style="max-width: 300px; max-height: 300px; object-fit: fill; border: 1px solid #ccc;" />
                <br />
            }
            else
            {
                <div style="text-align:left">
                    <br />
                    <img src="~/Imagens/vecteezy_user-icon-on-transparent-background_19879186.png"
                         alt="Foto Usuario"
                         id="preview"
                         style="width: 500px; height: 300px; object-fit: fill; border: 1px solid #ccc;" />
                    <br />
                    <label for="ImagemLogo">Selecione a foto:</label>
                    <input style="width:50%" type="file" name="Foto" id="FotoUsuario" class="form-control" accept="image/*" onchange="previewImagem(event)" />
                </div>
                <br />
            }
            <div style="text-align:left">
                <br>
                <input id="idUsuario" type="text" name="Id" value="@Model.Id" hidden>
                <span asp-validation-for="Login" class="text-danger"></span><br>
                <h5>Login:</h5>
                <input type="text" style="width:80%" asp-for="Login" placeholder="Login" value="@Model.Login" maxlength="50">
                <br>
                <span asp-validation-for="Nome" class="text-danger"></span><br>
                <h5>Nome:</h5>
                <input type="text" style="width:80%" asp-for="Nome" placeholder="Nome" value="@Model.Nome" maxlength="100">
                <br>
                <span asp-validation-for="Email" class="text-danger"></span><br>
                <h5>E-mail:</h5>
                <input type="text" style="width:80%" asp-for="Email" placeholder="E-mail" value="@Model.Email" maxlength="100">
                <br>
                <input type="hidden" name="IsPrimeiroAcesso" value="true" />
            </div>
        </div>
        <br>
        <div style="text-align:center">
            <input type="submit" value="Salvar" style="width:15%;background-color:black; color:white">
            <button type="button" style="width:15%" onclick="window.location.href='/Usuario/Consulta'">Cancelar</button>
        </div>
        @section Scripts {
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
            <script>
                function previewImagem(event) {
                    var input = event.target;
                    var reader = new FileReader();

                    reader.onload = function () {
                        var img = document.getElementById('preview');
                        img.style.width = '300px'
                        img.src = reader.result;
                    };

                    if (input.files && input.files[0]) {
                        reader.readAsDataURL(input.files[0]);
                    }
                }
            </script>
        }
    </form>
</body>
