@{
    ViewData["Title"] = "Home Page";
}

<div class="dashboard-container">
    @if (ViewBag.MensagemErro != null)
    {
        <div id="msgErro" class="alert alert-danger">
            @ViewBag.MensagemErro
        </div>
    }
    <h2 class="text-center mb-4">Geral</h2>

    <div class="menu-grid">
        <a href="/Usuario/Consulta" class="menu-card">
            <div class="menu-icon">
                <img src="/Imagens/employee (1).png" alt="Usuários" class="user-img">
            </div>
            <h3 class="menu-title">Usuários</h3>
            <p class="menu-description">Gerenciamento de usuários do sistema</p>
        </a>

        <a href="/Perfil/Consulta" class="menu-card">
            <div class="menu-icon">
                <img src="/Imagens/profile.png" alt="Perfis" class="user-img">
            </div>
            <h3 class="menu-title">Perfis</h3>
            <p class="menu-description">Gerenciamento de perfis de acesso</p>
        </a>

        <a href="/Simulacao/Consulta" class="menu-card">
            <div class="menu-icon">
                <img src="/Imagens/ux.png" alt="Simulações" class="user-img">
            </div>
            <h3 class="menu-title">Simulações</h3>
            <p class="menu-description">Controle de simulações realizadas</p>
        </a>

        <a href="/Motor/Consulta" class="menu-card">
            <div class="menu-icon">
                <img src="/Imagens/motor-gpt.png" alt="Motores" class="user-img">
            </div>
            <h3 class="menu-title">Motores</h3>
            <p class="menu-description">Monitoramento de motores</p>
        </a>

        <a href="/Historico/Index" class="menu-card">
            <div class="menu-icon">
                <i class="fa-solid fa-clock-rotate-left fa-2xl" style="color: #2f4c7f;"></i>
            </div>
            <h3 class="menu-title">Histórico</h3>
            <p class="menu-description">Registros históricos do sistema</p>
        </a>
    </div>
</div>

<div class="dashboard-container">
    <h2 class="text-center mb-4">Dashboards</h2>

    <div class="dashboard-grid">
        <!-- Classe modificada -->
        <a href="/Dashboard/Dashboard1" class="dashboard-card">
            <!-- Classe modificada -->
            <div class="dashboard-icon">
                <!-- Classe modificada -->
                <img src="/Imagens/profit-growth-blue.png" alt="Monitoramento">
            </div>
            <h3 class="dashboard-title">Monitoramento em Tempo Real</h3> <!-- Classe modificada -->
            <p class="dashboard-description">Dados instantâneos do sistema</p> <!-- Classe modificada -->
        </a>

        <a href="/Dashboard/Dashboard2" class="dashboard-card">
            <!-- Classe modificada -->
            <div class="dashboard-icon">
                <!-- Classe modificada -->
                <img src="/Imagens/profit-growth-red.png" alt="Histórico">
            </div>
            <h3 class="dashboard-title">Histórico de Temperaturas</h3> <!-- Classe modificada -->
            <p class="dashboard-description">Análise de dados históricos</p> <!-- Classe modificada -->
        </a>
    </div>
</div>

@section Scripts {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let mensagem = document.getElementById('msgErro')
            if (mensagem) {
                setTimeout(() => {
                    mensagem.style.display = 'none';
                }, 3000);
            }
        });
    </script>
}