@model LoginViewModel
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body class="login-page">
    <form action="/Login/Entrar" method="post" class="login-form">
        <div class="login-container">
            <h2 class="login-title">Bem-vindo(a)!</h2>
            <div class="login-content">
                @if (TempData["Mensagem"] != null)
                {
                    <div id="mensagem" class="login-alert">@TempData["Mensagem"]</div>
                    TempData["Mensagem"] = null;
                }
                <br>
                <span asp-validation-for="Login" class="login-error"></span><br>
                <h5 class="login-label">Usuário:</h5>
                <input type="text" class="login-input" id="login" name="Login" oninput="setTimeout(loginSection.verificaLogin(), 3000)" placeholder="Login" value="@Model.Login" maxlength="50" required>
                <br>
                <span asp-validation-for="Senha" class="login-error"></span><br>
                <h5 class="login-label">Senha:</h5>
                <input type="password" class="login-input" name="Senha" placeholder="Senha" maxlength="12" required>
                <br>
            </div>
        </div>
        <br>
        <div class="login-actions">
            <span asp-validation-for="IsUsuarioValido" class="login-error"></span><br>
            <input type="submit" class="login-btn-primary" value="Entrar">
            <button type="button" class="login-btn-secondary" id="botaoCadastrar" onclick="window.location.href='/Login/Cadastrar'">Cadastrar</button>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                let mensagem = document.getElementById('mensagem')
                if (mensagem) {
                    setTimeout(() => {
                        mensagem.style.display = 'none';
                    }, 3000);
                }
            });
        </script>
    </form>
</body>
@section Scripts {
    <script src="@Url.Content("~/js/site.js")"></script>
}