@using Newtonsoft.Json

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@{
    ViewData["Title"] = "Temperatura - Aferição em tempo de execução";
}

<script>
    $(document).ready(function () {
        $.fn.dataTable.moment('DD/MM/YYYY HH:mm:ss');

        dashboard1.init();
        dashboard1.carregarDados();

        setInterval(() => {
            dashboard1.init();
        }, 3500);

        dashboard1.montarTabelaRegistros()

        table = $('#tabelaRegistros').DataTable({
            order: [[0, 'desc']],
            columns: [
                { title: "Data/Hora" },
                { title: "Temperatura (Cº)" },
            ]
        });
    });
</script>

<div class="container">
    <div class="container-gap-dashboard2">
        <div class="row filter-row">
            <div class="historico-filter-group">
                <label for="ValMax">Valor máximo aceitável:</label>
                <input type="text" class="historico-input" placeholder="Valor máximo aceitável" id="ValMax" name="ValMax" maxlength="4">
            </div>

            <div class="historico-filter-group">
                <label for="ValMin">Valor mínimo aceitável:</label>
                <input type="text" class="historico-input" placeholder="Valor mínimo aceitável" id="ValMin" name="ValMin" maxlength="4">
            </div>
            <br>
            <div class="historico-filter-group">
                <label>Erro estacionário:</label>
            </div>
            <div class="historico-filter-group">
                <br>
                <input id="erroEstacionario" class="historico-input" type="text" disabled="disabled" />
                <input id="exibirErro" class="perfil-checkbox-input" type="checkbox" onchange="dashboard1.onChangeExibirErro()" />
            </div>
        </div>
        <div class="row mb-4 dashboard-row">
            <div class="gauge-container">
                <canvas id="gaugeChart"></canvas>
            </div>
            <div class="col-md-8 chart-container">
                <canvas id="graficoTempoReal" class="realtime-chart"></canvas>
                <button class="reset-zoom-btn" onclick="dashboard1.resetarZoom()">Resetar Zoom</button>
            </div>
        </div>
        <h5 class="readings-title">Últimas Leituras</h5>
        <table id="tabelaRegistros" class="display temperature-table">
            <thead>
                <tr>
                    <th>Data/Hora</th>
                    <th id="tipoValor">Temperatura (Cº)</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="@Url.Content("~/js/site.js")"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.25/sorting/datetime-moment.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.0.1"></script>
}