@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor

@model ErrorViewModel
@{
    ViewData["Title"] = "Erro";
}

<div class="container text-center mt-5">
    <h1 class="text-danger">Opa! Algo deu errado.</h1>
    <p class="lead">Ocorreu um erro enquanto processávamos sua solicitação.</p>

    <div class="alert alert-danger mt-4">
        <h5>Detalhes do erro:</h5>
        <pre>@Model.Erro</pre>
    </div>

    @{
        LoginViewModel usuarioLogin = new LoginViewModel();
        var login = HttpContextAccessor.HttpContext.Session.GetString("Login");

        if (login != null)
            usuarioLogin = JsonConvert.DeserializeObject<LoginViewModel>(login);
    }

    @if (Model.ShowRequestId)
    {
        <p><strong>ID da Requisição:</strong> <code>@Model.RequestId</code></p>
    }

    @if (login != null)
    {
        <a href="Index" class="btn btn-primary mt-3">Voltar para a Página Inicial</a>
    }
    else
    {
        <a href="Login" class="btn btn-primary mt-3">Voltar para a Página de Login</a>
    }
</div>

