@using Newtonsoft.Json

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@{
    ViewData["Title"] = "Temperatura - Histórico de aferições";
}

<style>
    input {
    }

        input.historico {
            width: 17%;
            padding: 8px;
            margin-bottom: 10px;
            height: 30px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

    .button-busca {
        width: 10%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: black;
        color: white
    }

    tr:nth-child(even) {
        background-color: #fce6b5;
    }

    .placeholder {
        width: 120%;
    }

</style>

<script>
        $(document).ready(function () {

        table = $('#tabelaRegistros').DataTable({
            order: [[0, 'desc']],
            columns: [
                { title: "Data/Hora" },
                { title: "Temperatura (Cº)" },
            ],
            createdRow: function (row, data, dataIndex) {
                const temperatura = parseFloat(data[1]); // Pega o valor da temperatura

                // Defina seu intervalo desejado:
                const min = 20;
                const max = 30;

                // Acha a célula da temperatura (segunda coluna, índice 1)
                const celula = $('td', row).eq(1);

                if (temperatura > max) {
                    celula.css('color', 'red'); // Acima = vermelho
                } else if (temperatura < min) {
                    celula.css('color', 'orange'); // Abaixo = laranja ou amarelo
                } else {
                    celula.css('color', 'green'); // Dentro do intervalo = verde
                }
            }
        });
    });
</script>

<div class="container">
    <div style="text-align:left">
        <label style="padding:6px" for="DataInicio">Intervalo entre os valores:</label>
        <input class="input historico" type="text" placeholder="Intervalo em segundos" id="Intervalo" value="@ViewBag.DataInicio" name="Intervalo" maxlength="4" />

        <label style="padding:6px" for="DataInicio">Data Início:</label>
        <input class="input historico" type="datetime-local" id="DataInicio" value="@ViewBag.DataInicio" name="DataInicio" />

        <label style="padding:6px" for="DataFim">Data Fim:</label>
        <input class="input historico" type="datetime-local" id="DataFim" value="@ViewBag.DataFim" name="DataFim" />

        <label style="padding:6px"> </label>
        <button type="button" class="button-busca" onclick="historicoSection.confirmarBusca()">Buscar</button>
    </div>
    <hr />
    <h5>Histórico de Leituras</h5>
    <table id="tabelaRegistros" class="display">
        <thead>
            <tr>
                <th>Data/Hora</th>
                <th>Temperatura (Cº)</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts {
    <script src="@Url.Content("~/js/site.js")"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.25/sorting/datetime-moment.js"></script>
}
